.value-container {
  display: flex;
  flex-wrap: wrap;
}

.value {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  margin-right: 16px;
}

.api-response {
  display: block;
}

.dict-value::first-letter,
.api-response::first-letter {
  text-transform: uppercase;
}
