<!-- <h4 style="text-align:center">List of Booking Entities</h4> -->
<div class="container">
  <table class="table">
    <thead>
      <th>Break Appointment Booking System</th>

      <th>Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let apptBookingEntity of apptBookingEntityList">
        <td>
          <p class="my-3">
            {{ apptBookingEntity.title_1 }} {{ apptBookingEntity.title_2 }}
          </p>
        </td>

        <!-- <td></td> -->

        <td>
          <button
            (click)="book(apptBookingEntity.gid)"
            class="mr-2 my-2 btn btn-success"
          >
            Book
          </button>

          <button
            *ngIf="reducer$?.role === 'booking-admin'"
            (click)="update(apptBookingEntity.gid)"
            class="btn btn-warning mr-2 my-2"
          >
            Edit
          </button>

          <button
            *ngIf="reducer$?.role === 'booking-admin'"
            (click)="delete(apptBookingEntity.gid)"
            class="btn btn-danger my-2"
          >
            Delete
          </button>
        </td>
      </tr>
      <!-- <tr>
          <button (click)="addBookingEntity()" class="btn btn-success">Add Booking Entity</button>
       </tr> -->
    </tbody>
  </table>
  <div class="dd">
    <button
      *ngIf="reducer$?.role === 'booking-admin'"
      (click)="addApptBookingEntity()"
      class="btn btn-success"
    >
      Add Booking Entity
    </button>
    <!-- <button (click)="refreshDB()" class="btn btn-danger">Refresh DB</button> -->
  </div>
</div>
