<div class="d-flex justify-content-between"> 
  <!-- <div class="button success">Show booker details</div>  -->
  <div class="col-sm-6 custom-control custom-switch">
    <input id="bookerDetails" type="checkbox" class="custom-control-input" (change)="getEvent($event)">
    <label class="custom-control-label" for="bookerDetails">Booker Details</label>
  </div>
  <span class="col-sm-6" *ngIf="bookingEntity.title_1 != null" 
  >{{ this.bookingEntity.title_1 }} - {{ this.bookingEntity.title_2 }} </span
  >

</div>
<mwl-demo-utils-calendar-header [(view)]="view" [(viewDate)]="viewDate">
</mwl-demo-utils-calendar-header>

<ng-template #customCellTemplate let-day="day" let-locale="locale">

  <div class="cal-cell-top">
    <!--   *ngIf="day.badgeTotal > 0" -->
    <span class="cal-day-number"
    >{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span
    >
  </div>
  <div class="cal-cell-foot" > <!-- class="cal-cell-top"> -->
    <span class="cal-day-badge" *ngIf="day.badgeTotal > 0"
      >{{ day.badgeTotal }}</span
    >
  </div>
</ng-template>

<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    [weekStartsOn]="weekStartsOn"
    [cellTemplate]="customCellTemplate"
    (beforeViewRender)="beforeMonthViewRender($event)"
    (dayClicked)="changeDay($event.day.date)"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [viewDate]="viewDate"
    [events]="events"
    [daysInWeek]="daysInWeek"
    [weekStartsOn]="weekStartsOn"
    [hourSegmentHeight]="hourSegmentHeight"
    [hourSegments]="hourSegments"
    [dayStartHour]="dayStartHour"
    [dayStartMinute]="dayStartMinute"
    [dayEndHour]="dayEndHour"
    [dayEndMinute]="dayEndMinute"
    (beforeViewRender)="beforeWeekOrDayViewRender($event)"
    (hourSegmentClicked)="hourSegmentClicked($event.date)"
    (eventClicked)="eventClicked($event)"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [viewDate]="viewDate"
    [events]="events"
    [hourSegmentHeight]="hourSegmentHeight"
    [hourSegments]="hourSegments"
    [dayStartHour]="dayStartHour"
    [dayStartMinute]="dayStartMinute"
    [dayEndHour]="dayEndHour"
    [dayEndMinute]="dayEndMinute"
    (beforeViewRender)="beforeWeekOrDayViewRender($event)"
    (hourSegmentClicked)="hourSegmentClicked($event.date)"
    (eventClicked)="eventClicked($event)"
  >
  </mwl-calendar-day-view>
</div>

