/* .cell-booking-entity .btn .btn-info {
   font-size: 1.4em ;
   font-weight: 900;
   opacity: 0.7;
   margin-top: 10px;
   margin-left: 5%;
   text-align: right;
   margin-bottom: 10px;
 }
 .cell-booking-entity .t1 {
  font-size: 1.2em ;
  font-weight: 900;
  opacity: 0.7;
  margin-top: 10px;
  margin-right: 5%;
  text-align: right;
  margin-bottom: 10px;
} */
.d-flex {
  font-size: 1.2em ;
  font-weight: 600;
  opacity: 0.7;
  margin-top: 10px;
  /* margin-right: 5%;
  text-align: right; */
  margin-bottom: 10px;
}