<div class="container">
  <div class="alert alert-danger" id="alert" [class.d-block]="isError">
    {{ error }} If you think this is a mistake, please contact us.
  </div>

  <div *ngIf="bookingDetails; else noBookingDetailsFound">
    <h1>Payment for your booking reservation</h1>
    <p>You must pay within 10 minutes or risk losing your booking.</p>

    <h3>Payment due: $25 </h3> <!--{{ formatPrice(bookingDetails.totalAmount) }}</h3> -->
    <div id="dropin-container"></div>

    <button
      class="btn btn-primary"
      id="pay-btn"
      type="button"
      (click)="onSubmit()"
    >
      Pay
    </button>
  </div>

  <ng-template #noBookingDetailsFound>
    {{ roomStatus }}
  </ng-template>

  <app-loading-screen
    [isLoading]="isLoading"
    [text]="loadingScreenText"
  ></app-loading-screen>
</div>

