@import '../../../node_modules/flatpickr/dist/flatpickr.css';
@import '../../../node_modules/flatpickr/dist/flatpickr.min.css';
@import '../../../node_modules/angular-calendar/css/angular-calendar.css';
@import "../../../node_modules/ng-pick-datetime/assets/style/picker.min.css";

.h1 {
    margin-top: 70px;
 }

/* .h3{
    margin: 20px;
} */

h3 {
    margin: 0 0 10px;
  }
  
pre {
    background-color: #f5f5f5;
    padding: 15px;
}

p{
    margin-bottom: 50px;
}