<div class="container">
    <!-- <div class="alert alert-warning" *ngIf='invalidCancel'>{{errorCancelMessage}}</div> -->
    <h1 class="h1"></h1>
    <div class="row text-center">
        <div class="col-md-4">
        <div class="btn-group">
            <div
            class="btn btn-primary"
            mwlCalendarPreviousView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()"
            >
            Previous
            </div>
            <div
            class="btn btn-outline-secondary"
            mwlCalendarToday
            [(viewDate)]="viewDate"
            >
            Today
            </div>
            <div
            class="btn btn-primary"
            mwlCalendarNextView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()"
            >
            Next
            </div>
        </div>
        </div>
        <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
        </div>
        <div class="col-md-4">
        <div class="btn-group">
            <div
            class="btn btn-primary"
            (click)="setView(CalendarView.Month)"
            [class.active]="view === CalendarView.Month"
            >
            Month
            </div>
            <div
            class="btn btn-primary"
            (click)="setView(CalendarView.Week)"
            [class.active]="view === CalendarView.Week"
            >
            Week
            </div>
            <div
            class="btn btn-primary"
            (click)="setView(CalendarView.Day)"
            [class.active]="view === CalendarView.Day"
            >
            Day
            </div>
        </div>
        </div>
    </div>
    <br />
    <div [ngSwitch]="view">
        <mwl-calendar-month-view
        *ngSwitchCase="CalendarView.Month"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
        *ngSwitchCase="CalendarView.Week"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
        *ngSwitchCase="CalendarView.Day"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-day-view>
    </div>
    
    <!-- Everything you see below is just for the demo, you don't need to include it in your app -->
    
    <br /><br /><br />
    
    <h3>
        All Events
        <button class="btn btn-danger float-right" (click)="deleteAllEvents()">
            Delete All
        </button>
        <button class="btn btn-primary float-right" (click)="addEvent()">
            Edit A New Event
        </button>
        <div class="clearfix"></div>
    </h3>
    
    <div class="table-responsive">
        <!-- <app-appt-booking-a-event
        *ngFor="let event of DataEvents; let i = index"
        [event]="event"
        [id]="i"></app-appt-booking-a-event> -->
    
        <table class="table table-bordered" *ngFor="let event of DataEvents">
        <thead>
            <tr>
            <th>Title</th>
            <th>Starts Time</th>
            <th>Ends Time</th>
            <th>Details</th>
            </tr>
        </thead>
    
        <tbody>
            <tr>
            <td>
                <input
                type="text"
                class="form-control"
                [(ngModel)]="event.title"
                (keyup)="refresh.next()"
                />
            </td>
            <td>
                <input
                class="form-control"
                type="text"
                mwlFlatpickr
                [(ngModel)]="event.startTime"
                (ngModelChange)="refresh.next()"
                [altInput]="true"
                [convertModelValue]="true"
                [enableTime]="true"
                dateFormat="Y-m-dTH:i"
                altFormat="F j, Y H:i"
                placeholder="Not set"
                />
            </td>
            <td>
                <input
                class="form-control"
                type="text"
                mwlFlatpickr
                [(ngModel)]="event.endTime"
                (ngModelChange)="refresh.next()"
                [altInput]="true"
                [convertModelValue]="true"
                [enableTime]="true"
                dateFormat="Y-m-dTH:i"
                altFormat="F j, Y H:i"
                placeholder="Not set"
                />
            </td>
            <td>
                <button class="btn btn-success col-sm-12" (click)="showDetail()" *ngIf=detail>
                    Show Detail
                </button>
                <button class="btn btn-success col-sm-12" (click)="showDetail()" *ngIf=!detail>
                    Hidden Detail
                </button>
            </td>
            </tr>
        </tbody>

        <thead  *ngIf=!detail>
            <tr>
            <th>City</th>
            <th>Street</th>
            <th>Postcode</th>
            </tr>
        </thead>
    
        <tbody  *ngIf=!detail>
            <tr>

            <td>
                <input
                type="text"
                class="col-sm"
                [(ngModel)]="event.location.city"
                (change)="refresh.next()"
                />
            </td>
            <td>
                <input
                type="text"
                class="col-sm"
                [(ngModel)]="event.location.street"
                (change)="refresh.next()"
                />
            </td>
            <td>
                <input
                type="number"
                class="col-sm"
                [(ngModel)]="event.location.postCode"
                (change)="refresh.next()"
                />
            </td>
            </tr>
        </tbody>

        <thead  *ngIf=!detail>
            <tr>
            <th>Description</th>
            <th>Price</th>
            <th  *ngIf=!event.add>Modify && Remove</th>
            <!-- <th  *ngIf=!event.add>Remove</th> -->
            <th  *ngIf=event.add>Add</th>
            </tr>
        </thead>
    
        <tbody  *ngIf=!detail>
            <tr>
            
            <td>
                <textarea
                type="text"
                [(ngModel)]="event.description"
                (change)="refresh.next()"
                class="col-sm-12"></textarea>
            </td>
            <td>
                <input
                type="text"
                class="col-sm"
                [(ngModel)]="event.price"
                (change)="refresh.next()"
                />
            </td>
            <td>
            <button class="btn btn-success float-left col-sm-6" (click)="modifyEvent(event)" *ngIf=!event.add>
                Modify Confirm
            </button>
            <button class="btn btn-danger float-right col-sm-6" (click)="deleteEvent(event)" *ngIf=!event.add>
                Delete
                </button>
            <button class="btn btn-primary float-right col-sm-12" (click)="addEventConfirm(event)" *ngIf=event.add>
                Add Confirm
            </button>
            </td>
            </tr>
        </tbody>
        </table>
    </div>
    
    <ng-template #modalContent let-close="close">
        <div class="modal-header">
        <h5 class="modal-title">Event action occurred</h5>
        <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <div>
            Action:
            <pre>{{ modalData?.action }}</pre>
        </div>
        <div>
            Event:
            <pre>{{ modalData?.event | json }}</pre>
        </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="close()">
            OK
        </button>
        </div>
    </ng-template>

    <p></p>
</div>