<div class="container">
  <!-- <div class="alert alert-warning" *ngIf='invalidCancel'>{{errorCancelMessage}}</div> -->
  <h1 class="h1"></h1>
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Previous
        </div>
        <div
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
          Today
        </div>
        <div
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Next
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate: view + 'ViewTitle':'en' }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Month)"
          [class.active]="view === CalendarView.Month"
        >
          Month
        </div>
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Week)"
          [class.active]="view === CalendarView.Week"
        >
          Week
        </div>
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Day)"
          [class.active]="view === CalendarView.Day"
        >
          Day
        </div>
      </div>
    </div>
  </div>
  <br />
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-day-view>
  </div>

  <!-- Everything you see below is just for the demo, you don't need to include it in your app -->

  <br /><br /><br />

  <div class="d-flex justify-content-between mb-2">
    <h3>All Events</h3>

    <div>
      <button class="btn btn-primary" (click)="open(content)">New Event</button>
      <button class="btn btn-danger ml-1" (click)="deleteAllEvents()">
        Delete All
      </button>
    </div>
  </div>

  <!-- <h3>
    All Events
    <button class="btn btn-danger float-right" (click)="deleteAllEvents()">
      Delete All
    </button>
    <button class="btn btn-primary float-right" (click)="addEvent()">
      Edit A New Event
    </button>
    <div class="clearfix"></div>
  </h3> -->

  <!-- <div class="table-responsive">
    <app-appt-booking-a-event
      *ngFor="let event of DataEvents; let i = index"
      [event]="event"
      [add]="event.add"
      [id]="i"
    ></app-appt-booking-a-event>
    <b *ngIf="lenEvent">No events yet</b>
  </div> -->

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Start</th>
          <th>End</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let event of DataEvents; let i = index">
          <td>
            {{ event.title }}
          </td>
          <td>
            {{ event.startTime }}
          </td>
          <td>
            {{ event.endTime }}
          </td>
          <td>
            {{ event.description }}
          </td>

          <td>
            <button class="btn btn-primary btn-sm" (click)="open(content, i)">
              Edit
            </button>
            <button class="btn btn-danger btn-sm ml-2" (click)="deleteEvent(i)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <b *ngIf="lenEvent">No events yet</b>
  </div>

  <ng-template #modalContent let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Event action occurred</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        Action:
        <pre>{{ modalData?.action }}</pre>
      </div>
      <div>
        Event:
        <pre>{{ modalData?.event | json }}</pre>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="close()">
        OK
      </button>
    </div>
  </ng-template>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Event</h4>
      <!-- <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button> -->
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click'); closeModel()"
      ></button>
    </div>
    <div class="modal-body">
      <app-event-form [event]="event"></app-event-form>
    </div>
  </ng-template>
</div>
