.required label::after {
  content: ' *';
  color: red;
}

#alert {
  display: none;
  text-transform: ;
}
#alert::first-letter {
  text-transform: uppercase;
}

.user-input-notification {
  display: none;
}
