<div class="container">
  <h1>Dictionaries</h1>
  <p>
    Dictionaries are collections of terms. They are used in forms for: cities,
    facilities...
  </p>

  <table class="table" *ngIf="dicts.length; else elseBlock">
    <thead>
      <tr>
        <th>Name</th>
        <th>Items</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of dicts">
        <td class="align-middle name">{{ item.name }}</td>
        <td class="align-middle">{{ item.values.length }}</td>
        <td class="align-middle">
          <a
            [routerLink]="['/dictionaries/view/', item.id]"
            class="btn btn-outline-primary"
            >View</a
          >
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #elseBlock>
    {{ apiStatus }}
  </ng-template>
</div>
