<div class="container">
  <!-- <div class="alert alert-warning" *ngIf='invalidCancel'>{{errorCancelMessage}}</div> -->
  <h1 class="h1"></h1>
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Previous
        </div>
        <div
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
          Today
        </div>
        <div
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Next
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate: view + 'ViewTitle':'en' }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Month)"
          [class.active]="view === CalendarView.Month"
        >
          Month
        </div>
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Week)"
          [class.active]="view === CalendarView.Week"
        >
          Week
        </div>
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Day)"
          [class.active]="view === CalendarView.Day"
        >
          Day
        </div>
      </div>
    </div>
  </div>
  <br />
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day); clickedDate = $event.day.date"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-day-view>
  </div>

  <!-- Everything you see below is just for the demo, you don't need to include it in your app -->

  <br /><br /><br />

  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink>Events</a>
      <ng-template ngbNavContent>
        <div class="d-flex justify-content-between mb-2 mt-3">
          <!-- <h3>All Events</h3> -->
          <strong *ngIf="clickedDate"
            >Events on: {{ clickedDate | date: 'dd/MM/yyyy' }}
            <button
              *ngIf="DataEvents.length !== restoreDataEvents.length"
              class="btn btn-link btn-sm"
              (click)="restoreData(); clickedDate = null"
            >
              Show All
            </button></strong
          >

          <div class="ml-auto">
            <button class="btn btn-primary" (click)="open(adminContent)">
              New Event
            </button>
            <button class="btn btn-danger ml-1" (click)="deleteAllEvents()">
              Delete All
            </button>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Title</th>

                <th>Start</th>
                <th>End</th>
                <th>Price</th>
                <th>Capcity</th>
                <!-- <th>Description</th> -->
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let event of DataEvents; let i = index">
                <td>
                  {{ event.title }}
                </td>

                <td>
                  {{ event.startTime }}
                </td>
                <td>
                  {{ event.endTime }}
                </td>
                <td>
                  {{ event.price }}
                </td>
                <td>10/100 (fake)</td>
                <!-- <td>
                  {{ event.description }}
                </td> -->

                <td>
                  <button
                    class="btn btn-outline-primary btn-sm"
                    (click)="open(userContent, i)"
                  >
                    Detail
                  </button>
                  <button
                    class="btn btn-outline-primary btn-sm ml-2"
                    (click)="open(adminContent, i)"
                  >
                    Edit
                  </button>
                  <button
                    class="btn btn-outline-danger btn-sm ml-2"
                    (click)="deleteEvent(event.eid)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <b *ngIf="!DataEvents.length">No events yet</b>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Bookings</a>
      <ng-template ngbNavContent>
        <div class="d-flex justify-content-end mb-2 mt-3">
          <select
            (change)="searchBookingByEid($event.target.value)"
            [(ngModel)]="searchBooking"
            id="searchBooking"
            name="searchBooking"
            class="mr-auto"
          >
            <option value="All">All Events</option>
            <ng-container *ngFor="let eid of eidList">
              <option [value]="eid">{{ eid }}</option>
            </ng-container>
          </select>

          <button class="btn btn-danger ml-1" (click)="deleteAllBookings()">
            Delete All
          </button>
        </div>

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Event</th>
                <th>Email</th>
                <th>Name</th>
                <th>Phone</th>
                <!-- <th>Description</th> -->
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let booking of bookings; let i = index">
                <td>
                  {{ booking.eventEid }}
                </td>
                <td>
                  {{ booking.bookerEmail }}
                </td>
                <td>
                  {{ booking.bookerName }}
                </td>
                <td>
                  {{ booking.bookerPhone }}
                </td>

                <td>
                  <button
                    class="btn btn-outline-danger btn-sm ml-2"
                    (click)="deleteBooking(booking.id)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <b *ngIf="!DataEvents.length">No events yet</b>
        </div>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>

  <ng-template #modalContent let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Event action occurred</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        Action:
        <pre>{{ modalData?.action }}</pre>
      </div>
      <div>
        Event:
        <pre>{{ modalData?.event | json }}</pre>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="close()">
        OK
      </button>
    </div>
  </ng-template>

  <ng-template #adminContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{ event?.title || 'New Event' }}</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click'); closeModel()"
      ></button>
    </div>

    <div class="modal-body">
      <app-event-form [event]="event"></app-event-form>
    </div>
  </ng-template>

  <ng-template #userContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Booking - {{ event?.title }}</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click'); closeModel()"
      ></button>
    </div>

    <div class="modal-body">
      <app-event-detail [event]="event"></app-event-detail>
    </div>

    <div class="modal-footer">
      <!-- <button type="submit" class="btn btn-primary">Book</button> -->
      <a
        [routerLink]="['/event/booking/', event?.eid]"
        class="btn btn-outline-primary mr-2"
        (click)="modal.dismiss('Cross click'); closeModel()"
        >Book</a
      >
    </div>
  </ng-template>
</div>
