<div class="container">
  <h1 class="mb-2 text-center">The Break Booking System</h1>
  <h4 class="mb-5 text-center text-secondary">
    <em>Book our premium services</em>
  </h4>
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-header">Appointment</div>

        <div class="card-body">
          <h5 class="card-title">Book an Appointment with us</h5>
          <div class="list-group list-group-flush mt-4">
            <a
              href="#"
              class="list-group-item list-group-item-action"
              aria-current="true"
            >
              <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">Personal Appointment</h6>
                <span class="badge bg-primary rounded-pill">Detail</span>
              </div>
              <p class="mb-1">Special and privacy appointment</p>
              <small>sutibale for everyone</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">Consultant Appointment</h6>
                <span class="badge bg-primary rounded-pill">Detail</span>
              </div>
              <p class="mb-1">Talk to our prodessional consultant</p>
              <small class="text-muted">Special request and law related</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">Information Sharing</h6>
                <span class="badge bg-primary rounded-pill">Detail</span>
              </div>
              <p class="mb-1">Share what you think with everyone</p>
              <small class="text-muted">relax and enjoy</small>
            </a>
          </div>

          <a href="#" class="btn btn-primary mt-4">See More</a>
        </div>

        <!-- <div class="card-footer">Card footer</div> -->
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-header">Room</div>

        <div class="card-body">
          <h5 class="card-title">Our Rooms</h5>

          <div class="list-group list-group-flush mt-4">
            <a
              href="#"
              class="list-group-item list-group-item-action"
              aria-current="true"
            >
              <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">High End Hotel Room</h6>
                <span class="badge bg-primary rounded-pill">Detail</span>
              </div>
              <p class="mb-1">Design for luxary meeting</p>
              <small>123, No2, Olimpic street, Sydney</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">Super Large Party Room</h6>
                <span class="badge bg-primary rounded-pill">Detail</span>
              </div>
              <p class="mb-1">Nearby sunny beach with security guard</p>
              <small class="text-muted">5000, No.0, habor road, Perth</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">Privacy Room</h6>
                <span class="badge bg-primary rounded-pill">Detail</span>
              </div>
              <p class="mb-1">Quiet and privacy room</p>
              <small class="text-muted"
                >3030, No56, port melbourne , Melbourne</small
              >
            </a>
          </div>

          <a href="#" class="btn btn-primary mt-4">See More</a>
        </div>

        <!-- <div class="card-footer">Card footer</div> -->
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-header">Event</div>

        <div class="card-body">
          <h5 class="card-title">Join Special Events</h5>
          <div class="list-group list-group-flush mt-4">
            <a
              href="#"
              class="list-group-item list-group-item-action"
              aria-current="true"
            >
              <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">Morning Event</h6>
                <span class="badge bg-primary rounded-pill">Detail</span>
              </div>
              <p class="mb-1">A short but meaningful event for elders.</p>
              <small>30th March 2022 - Sydney</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">Dining Event</h6>
                <span class="badge bg-primary rounded-pill">Detail</span>
              </div>
              <p class="mb-1">For People who are interested in dining.</p>
              <small class="text-muted">12th April 2022 - Adelaide</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">Super Secret Event</h6>
                <span class="badge bg-primary rounded-pill">Detail</span>
              </div>
              <p class="mb-1">VIP customer only.</p>
              <small class="text-muted">22th December 2022 - Melbourne</small>
            </a>
          </div>

          <a href="#" class="btn btn-primary mt-4">See More</a>
        </div>

        <!-- <div class="card-footer">Card footer</div> -->
      </div>
    </div>
  </div>
</div>
