<div class="container">
  <!-- <div class="alert-warning" *ngIf="todoForm.invalid">Enter valid value</div> -->
  <form #bookingEntityForm="ngForm" (ngSubmit)="!bookingEntityForm.invalid && onSubmit()">

        <legend>Booking Entity</legend>

        <div class="row">
          <div class="col-sm-6 form-group" [class.has-error]="title1Control.invalid && title1Control.touched">
            <label for="title_2" class="control-label">Title 1:</label>
              <input type="text" [(ngModel)]="bookingEntity.title_1" class="form-control" name="title_1"
                required="required" minlength="5" #title1Control="ngModel">
              <span class="help-block" *ngIf="title1Control.invalid && title1Control.touched">
                Minimum 5 characters required
              </span>
            </div>
          </div>

          <div class="row">
          <div class="col-sm-6  form-group" [class.has-error]="title2Control.invalid && title2Control.touched">
            <label for="title_2" class="control-label">Title 2:</label>
              <input type="text" [(ngModel)]="bookingEntity.title_2" class="form-control" name="title_2"
                required="required" minlength="5" #title2Control="ngModel">
              <span class="help-block" *ngIf="title2Control.invalid && title2Control.touched">
                Minimum 5 characters required
              </span>
            </div>
          </div>


          <div class="row">
          <div class="col-sm-6 form-group" [class.has-error]="email.invalid && email.touched">
            <label for="email" class="control-label">email:</label>
              <input id="email" type="text" name="email" required [email]="bookingEntity.email!==''" #email="ngModel"
                [(ngModel)]="bookingEntity.email" class="form-control">
              <span class="help-block" *ngIf="email.errors?.required && email.touched">
                Email is required
              </span>
              <span class="help-block" *ngIf="email.errors?.email && email.touched">
                Email is invalid
              </span>
            </div>
          </div>



          <div class="row">
          <div class="col-sm-6 form-group" [class.has-error]="phone.errors && phone.touched">
            <label for="phone" class="control-label">phone:</label>
              <input id="phone" type="text" required [pattern]="mobNumberPattern" class="form-control" name="phone"
                [(ngModel)]="bookingEntity.phone" #phone="ngModel">
              <span class="help-block" *ngIf="phone.errors && phone.touched">
                Mobile number not valid.
              </span>
          </div>
        </div>




          <div class="row">
          <div class="col-sm-6 form-group">
            <label for="startDate" class="control-label">Start Date:</label>
            <!-- <div class="col-sm-6"> -->
              <input type="date" [ngModel]="bookingEntity.startDate | date:'yyyy-MM-dd' "
                (ngModelChange)="bookingEntity.startDate = $event" class="form-control" name="startDate"
                required="required">
            <!-- </div> -->
          </div>
        </div>

        <hr>
          <div class="row">
          <div class="col-sm-6 form-group">
            <label for="minAdvanceBooking" class="control-label">minAdvanceBooking:</label>
            <br>
            <label for="minAdvanceBookingUnit" class="control-label">
              <input type="radio" name="minAdvanceBookingUnit" [(ngModel)]="bookingEntity.minAdvanceBookingUnit"
                [value]="'day'">
              Day
            <!-- </label>
            <label for="minAdvanceBookingUnit" class="control-label"> -->
              <input type="radio" name="minAdvanceBookingUnit" [(ngModel)]="bookingEntity.minAdvanceBookingUnit"
                [value]="'hour'">
              Hour
            </label>
            <!-- <div class="col-sm-6"> -->
              <input type="number" [(ngModel)]="bookingEntity.minAdvanceBooking" class="form-control"
                name="minAdvanceBooking" required="required">
            <!-- </div> -->
          </div>
        </div>
        <hr>

          <div class="row">
          <div class="col-sm-6 form-group">
            <label for="maxAdvanceBookingInDay"
            class="control-label">maxAdvanceBookingInDay:</label>
            <!-- <div class="col-sm-3"> -->
              <input type="number" [(ngModel)]="bookingEntity.maxAdvanceBookingInDay" class="form-control"
                name="maxAdvanceBookingInDay" required="required">
            <!-- </div> -->
          </div>
          </div>
        <!-- </td>
      </tr> -->

      <!-- <tr>
        <td> -->
          <hr>
          <div class="row">
          <div class="col-sm-3 form-group">
            <label for="sessionM" class="control-label">Session Duration:</label>
            <!-- <div class="col-sm-3"> -->
              <ngb-timepicker [(ngModel)]="bookingEntity.sessionM" [ngModelOptions]="{standalone: true}">
              </ngb-timepicker>
            <!-- </div> -->
          </div>
        <!-- </td>

        <td> -->
          <div class="col-sm-3 form-group">
            <label for="intervalBreakM" class=" control-label">Interval Break:</label>
            <!-- <div class="col-sm-3"> -->
              <ngb-timepicker [(ngModel)]="bookingEntity.intervalBreakM" [ngModelOptions]="{standalone: true}">
              </ngb-timepicker>
            <!-- </div> -->
          </div>
        </div>

        <hr>
        <div class="row">
          <div class="col-sm-3 form-group">
            <label for="amStartM" class="control-label">Morning Start:</label>
            <!-- <div class="col-sm-6"> -->
              <ngb-timepicker [(ngModel)]="bookingEntity.amStartM"
                [ngModelOptions]="{standalone: true}">
              </ngb-timepicker>
            <!-- </div> -->
          </div>

          <div class="col-sm-3 form-group">
            <label for="amEndM" class="control-label">End:</label>
            <!-- <div class="col-sm-6"> -->
              <ngb-timepicker [(ngModel)]="bookingEntity.amEndM"
                [ngModelOptions]="{standalone: true}">
              </ngb-timepicker>
            <!-- </div> -->
          </div>
        </div>
        <hr>



        <div class="row">
          <div class="col-sm-3 form-group">
            <label for="pmStartM" class="control-label">Afternoon Start:</label>
            <!-- <div class="col-sm-6"> -->
              <ngb-timepicker [(ngModel)]="bookingEntity.pmStartM"
                [ngModelOptions]="{standalone: true}">
              </ngb-timepicker>
            <!-- </div> -->
          </div>


          <div class="col-sm-3 form-group">
            <label for="pmEndM" class="col-sm-2 control-label">End:</label>
            <!-- <div class="col-sm-6"> -->
              <ngb-timepicker [(ngModel)]="bookingEntity.pmEndM" [ngModelOptions]="{standalone: true}">
              </ngb-timepicker>
            <!-- </div> -->
          </div>
        </div>

          <hr>

          <div class="row">
          <div class="col-sm-6 form-group">
            <label for="workingWeekDays" class="control-label">Working Days:</label>
            <!-- <div class="col-sm-6"> -->
              <div *ngFor="let object of workingWeekDays">
                <input type="checkbox" name="{{object.name}}" [checked]="object.isChecked" [value]="object.id"
                  (change)="getDayId($event, object.id)"> {{object.name}}
              </div>
            <!-- </div> -->
          </div>
        </div>
          <hr>



          <button type="submit" class="btn btn-success">Submit</button>

    <br>
    <br>
    <br>
  </form>


</div>
